@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: monospace;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container
{
    width: 400px;
    height: 200px;
}

button{
    padding: 10px;
    border: 4px solid rgb(184, 100, 100);
    background-color: rgb(153, 184, 232);
    margin-bottom: 10px;
}